.container {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    animation-name: rightSide;
    animation-duration: 2s;
    z-index: 2;
    animation-name: leftToRight;
    animation-duration: .5s;
}

@keyframes leftToRight {
    0% {
        /* margin-left: -15%; */
        position: absolute;
        top: 0;
        left: -15%;

    }

    100% {
        /* margin-left: 0; */
        position: absolute;
        top: 0;
        left: 0;
    }
}

.logo {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    /* background-color: blueviolet; */
    padding: 27px;
}

.text {
    font-size: 20px;
    margin-left: 12px;
}

.navList {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navList:hover {
    scrollbar-width: 5px;
    overflow-y: auto;
}

.navList:hover::-webkit-scrollbar {
    width: 10px;
}

.navList:hover::-webkit-scrollbar-track {
    background-color: #00000010;
}

.navList:hover::-webkit-scrollbar-thumb {
    background-color: #383636d7;
    border-radius: 50px;
}


.hidden {
    /* display: none; */
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-y: auto; */
    position: absolute;
    top: 0;
    left: -15%;
    background-color: #000;
    animation-name: rightToLeft;
    animation-duration: .5s;
    animation-name: rightToLeft;
}

@keyframes rightToLeft {
    0% {
        position: absolute;
        top: 0;
        left: 0;
    }

    100% {
        position: absolute;
        top: 0;
        left: -15%;
    }
}

.divider {
    width: 90%;
    /* height: 2px; */
    height: 10px;
    z-index: 20;
    background-color: rgba(151, 151, 151, 0.61);
    margin: 10px 0;

}

.srgfr45 {
    width: 70%;
}

.signInBtn {
    width: 150px;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(137, 43, 226, 0.849);
    border-radius: 25px;
    border: none;
}

.navMenu {
    width: 80%;
    /* width: auto; */
    display: flex;
    align-items: center;
    margin: 8px 0;
    /* background-color: blueviolet; */
    padding: 8px 8px;
    border-radius: 10px;
}

.navMenu:hover {
    background-color: rgba(87, 86, 86, 0.726);
    transition: 0.3s;
}

.icon {
    width: 25px;
    height: 25px;
}

.navList {
    padding-left: 15px;
}


@media screen and (max-width:1200px) {
    .container {
        width: 30vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* overflow-y: auto; */
        position: absolute;
        top: 0;
        left: 0;
        /* background-color: rgba(132, 0, 255, 0.815); */
        background-color: #000;
        animation-name: rightSide;
        animation-duration: 2s;
        z-index: 2;
    }
}


@media screen and (max-width:900px) {
    .container {
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* overflow-y: auto; */
        position: absolute;
        top: 0;
        left: 0;
        /* background-color: rgba(132, 0, 255, 0.815); */
        background-color: #000;
        animation-name: rightSide;
        animation-duration: 2s;
        z-index: 2;
    }
}



@media screen and (max-width:600px) {
    .container {
        width: 80vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* overflow-y: auto; */
        position: absolute;
        top: 0;
        left: 0;
        /* background-color: rgba(132, 0, 255, 0.815); */
        background-color: #000;
        animation-name: rightSide;
        animation-duration: 2s;
        z-index: 2;
    }
}