.navbar {
    width: 100vw;
    height: 8vh;
    padding: 0 20px;
    position: fixed;
    background-color: #000;
    z-index: 1;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftMenu {
    width: 6%;
}

.icon {
    width: 25px;
    height: 25px;
}
.inIcon{
    width: 40px;
    height: 40px;
    /* background-color: rgb(110, 110, 110); */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inIcon:hover {
    /* background-color: rgb(110, 110, 110); */
    background-color: rgba(87, 86, 86, 0.726);
    transition: 0.3s;
   
}

.centerContainer {
    width: 40%;
    /* background-color: rgb(181, 175, 187); */
}

.searchContainer {
    width: 95%;
    background-color: rgb(110, 110, 110);
    border: 1px solid rgb(110, 110, 110);

    border-radius: 50px;
}

.searchField {
    width: 100%;
    /* border: 1px solid red; */
    padding: 10px 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-image: url(/assets/images/search.png);
    background-size: 25px;
    background-position: 7px 7px;
    background-repeat: no-repeat;
    /* margin-right: 15px; */
    border: none;
    background-color: #000;
}

.searchBarIcon {
    margin: 0 10px;
}
.micIcon{
   margin-left: 15px;
}
.rightContainer {
    width: 9%;
    /* background-color: blueviolet; */
    /* background-color: rgb(63, 96, 97, 0.4); */
}


.loginBtn {
    width: 60%;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid rgb(110, 110, 110);
}

.text {
    font-size: 20px;
}


@media screen and (max-width:1300px) {
    .leftMenu {
        width:10%;
    }
    .inIcon{
        width: 20px;
        height: 20px;
        /* background-color: rgb(110, 110, 110); */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon {
        width: 20px;
        height: 20px;
        
    }

    .centerContainer {
        width: 60%;
        /* background-color: rgb(181, 175, 187); */
    }
    .rightContainer {
        width: 20%;
    }
    .text{
        font-size: 15px;
    }
    
  }
  @media screen and (max-width:900px) {
    .leftMenu {
        width:10%;
    }
    .inIcon{
        width: 20px;
        height: 20px;
        /* background-color: rgb(110, 110, 110); */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon {
        width: 15px;
        height: 15px;
        
    }

    .centerContainer {
        width: 60%;
        /* background-color: rgb(181, 175, 187); */
    }
    .searchContainer {
        width: 95%;
        background-color: rgb(110, 110, 110);
        border: 1px solid rgb(110, 110, 110);
    
        border-radius: 50px;
    }
    .rightContainer {
        width: 25%;
        /* background-color: rgb(63, 96, 97, 0.4); */
    }
    .text{
        font-size: 12px;
    }
    
  }


  @media screen and (max-width: 500px) {
    .leftMenu {
        width:15%;
    }
    .inIcon{
        width: 20px;
        height: 20px;
        /* background-color: rgb(110, 110, 110); */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon {
        width: 10px;
        height: 10px;
        
    }

    .centerContainer {
        width: 50%;
    }
    .searchContainer {
        width: 95%;
        background-color: rgb(110, 110, 110);
        border: 1px solid rgb(110, 110, 110);
    
        border-radius: 50px;
    }
    .searchField {
        width: 100%;
        /* border: 1px solid red; */
        padding: 5px 10px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        background-image: none;
        background-position: 2px 2px;
        background-repeat: no-repeat;
        border: none;
    }
    .searchField{
        padding: 2px;
    }
    .settingIcon{
        width: 20px;
        height: 20px;
    }
    .micIcon{
        margin-left: 5px;
     }
    .rightContainer {
        width: 25%;
    }
    .loginBtn{
        width: 80%;
    }
    .text{
        font-size: 8px;
    }
    
  }


  @media screen and (max-width: 300px) {
    .text{
        font-size: 5px;
    }
    
  }


  