.page{
    width: 100vw;
    min-height: 92vh;
    max-height: fit-content;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page .container{
    cursor: pointer;
    width: 50%;
    height: max-content;
    display: flex;
    /* background-color: blueviolet; */

    
}


.page .container .videoDetails{
    margin-left: 10px;
}


.page .container .title{
    font-size: 20px;
}

.page .container .desc{
    font-size: 16px;
    margin-top: 10px;
}
.page .container .time{
    font-size: 15px;
    color: #bebebed2;
    margin-top: 10px;
}



@media screen and (max-width:1200px) {
    .page .container{
        width: 100%;
    }
}


@media screen and (max-width:900) {
    .page .container{
      
    }
    
}