.page{
    width: 100vw;
    height: 92vh;
    margin-top: 8vh;
}


.page .container{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.page .container input[type=text]{
padding: .5rem 1.5rem;
margin: 10px 10px;
}

.page .container button{
    padding: .5rem;
}